<div class="mainContainer">

  <div class="containerChoix">

    <form [formGroup]="ratpForm">

      <!-- TYPES BLOCK -->
      <div class="block">

        <div class="titre">
          <label for="choixTransport">TRANSPORT</label>
        </div>
  
        <div class="input">
          <select id="choixTransport" formControlName="transport">
            <option *ngFor="let transport of transportListe">{{ transport}}</option>
          </select>
        <!-- <img src="./../../assets/img/logo-metro.png" alt="logo-métro">
        <img src="./../../assets/img/logo-rer.png" alt="logo-rer">
        <img src="./../../assets/img/logo-tram.png" alt="logo-tramway"> -->
      </div>

      <!-- LIGNES BLOCK -->
      <div class="block">

        <div class="titre">
          <label for="choixLigne">LIGNE</label>
        </div>

        <div class="input">
          <select id="choixLigne" formControlName="ligne">
            <option *ngFor="let ligne of ligne">
              {{ ligne }}
            </option>
          </select>
        </div>

      </div>

      <!-- SENS BLOCK -->
      <div class="block">

        <div class="titre">
          <label for="direction">DIRECTION</label>
        </div>

        <div class="input">
          <select id="direction" formControlName="direction">
            <option *ngFor="let direction of direction">
                {{ sens }}
              </option>
          </select>
        </div>

      </div>

      <!-- STATIONS BLOCK -->
      <div class="block">

        <div class="titre">
          <label for="stations">STATIONS</label>
        </div>

        <div class="input">
          <select id="stations" name="station"  formControlName="station">
            <option *ngFor="let station of stationListe">
                {{ station }}
              </option>
          </select>
        </div>

      </div>

    </form>
  </div>

  <!-- ECRAN BLOCK -->
  <div class="containerEcran">

    <div class="head">
  
      <div class="picture">
        <img src="./img/logo-{{type}}.png" alt="ico-ligne">
      </div>
  
      <div class="way">
        <div class="station">
          Station:
        </div>
        <div class="direction">
          Direction:
        </div>
      </div>
  
      <div class="time">
        <div class="horloge">
          {{ dateObj | date:'HH:mm' }}
        </div>
      </div>
  
    </div>
  
    <div class="listing">
      <ul>
        <li></li>
      </ul>
      <div class="info"></div>
    </div>
  
  </div>

</div>