<div class="mainContainer">

  <div class="containerChoix">
    <form>

      <!-- TYPES BLOCK -->
      <div class="block">

        <div class="titre">
          <label for="choixTransport">TRANSPORT</label>
        </div>
  
        <div class="input">
          <select name="choixTransport" id="choixTransport" (focus)="getTransports()">
            <option *ngFor="let transport of transportListe" (click)="getTransports($event.target.value)">
              {{ transport }}
            </option>
          </select>
        <!-- <img src="./../../assets/img/logo-metro.png" alt="logo-métro">
        <img src="./../../assets/img/logo-rer.png" alt="logo-rer">
        <img src="./../../assets/img/logo-tram.png" alt="logo-tramway"> -->
        </div>
      </div>

      <!-- LIGNES BLOCK -->
      <div class="block">

        <div class="titre">
          <label for="choixLigne">LIGNE</label>
        </div>

        <div class="input">
          <select name="choixLigne" id="choixLigne" (focus)="getLignes()">
            <option *ngFor="let ligne of ligne">
              {{ ligne }}
            </option>
          </select>
        </div>

      </div>

      <!-- SENS BLOCK -->
      <div class="block">

        <div class="titre">
          <label for="choixDirection">DIRECTION</label>
        </div>

        <div class="input">
          <select name="choixDirection" id="choixDirection" (focus)="getDirections()">
            <option *ngFor="let direction of direction">
                {{ sens }}
              </option>
          </select>
        </div>

      </div>

      <!-- STATIONS BLOCK -->
      <div class="block">

        <div class="titre">
          <label for="stations">STATIONS</label>
        </div>

        <div class="input">
          <select name="choixStation" id="choixStation" (focus)="getStations()">
            <option *ngFor="let station of stationListe">
                {{ station }}
              </option>
          </select>
        </div>

      </div>

    </form>
  </div>

  <!-- ECRAN BLOCK -->
  <div class="containerEcran">

    <div class="head">
  
      <div class="picture">
        <img src="" alt="ico-ligne">
      </div>
  
      <div class="way">
        <div class="station">
          Station:
        </div>
        <div class="direction">
          Direction:
        </div>
      </div>
  
      <div class="time">
        <div class="horloge">
          {{ dateObj | date:'HH:mm' }}
        </div>
      </div>
  
    </div>
  
    <div class="listing">
      <ul>
        <li></li>
      </ul>
      <div class="info"></div>
    </div>
  
  </div>

</div>