@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

$roboto: 'Roboto', sans-serif;
$ecran: 'Rubik', sans-serif;

.mainContainer {
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-flow: row wrap;
    .containerChoix {
        width: 25%;
        height: 50%;
        font-family: $roboto;
        margin-top: 20vh;
        margin-left: 15vw;
        form {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            text-align: left;
            .block {
                width: 100%;
                height: auto;
                .titre {
                    width: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                }
                .input {
                    padding: 1vh 1vw;
                }
            }
        }
    }
    .containerEcran {
        width: 40%;
        height: 70%;
        display: flex;
        flex-flow: column nowrap;
        font-family: $ecran;
        margin-top: 20vh;
        .head {
            display: flex;
            flex-flow: row nowrap;
            .picture {
                width: 100%;
                height: 100%;
            }
            .way {
                width: 46%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                color: blue;
                .station {
                    font-weight: bold;
                }
                .direction {
                    font-weight: bold;
                }
            }
            .time {
                width: 36%;
                background-color: grey;
                .horloge {
                    color: white;
                }
            }
        }
    }
    .listing {
        ul {
            li {
                list-style-type: none;
            }
        }
        .info {
            background-color: #fbcc00;
        }
    }
}